@model int

<div class="container row pt-4 ">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number Is: @Model <br /> <br />
        <img src="~/Files/Images/442ddb44-3eb7-4f10-8eab-fde567be40d8Solid-Principles.png" width="45%"/>
    </div>
    <div class="col-12 text-center ">
        <br />
        Your Order Has Been Placed Successfully!
    </div>

</div>