

@model BulkyBook.PL.ViewModels.ProductViewModel


@{
    ViewData["Title"] = "Edit";
}


<form method="post" asp-controller="Product" asp-action="Edit" enctype="multipart/form-data" >
    <div class="row border p-3 mt-4 ">

        <div class="row pb-2 ">
            <h2 class="text-primary">Update Product</h2>
            <hr />
        </div>
        <input asp-for="Id" hidden/>
        <input asp-for="ImageUrl" hidden/>
       
       <partial name="PartialViews/_CreateEditProductPartialViews" />

        
        <div class="mb-3 col-6 ">
             <button type="submit" class="btn btn-primary" style="width:150px">Update</button>|
             <a asp-action="Index" class="btn btn-outline-secondary">Back To List</a>
        </div>
       

    </div>
</form>

@section Scripts{
 @{
<partial name="_ValidationScriptsPartial" />

 }   
}

